services:
  # postgres:
  #   image: pgvector/pgvector:pg16
  #   container_name: elber_pg
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #     POSTGRES_DB: elber
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - elber_pgdata:/var/lib/postgresql/data
  gateway:
    build: 
      context: .
      dockerfile: api-gateway/Dockerfile 
    container_name: gateway
    ports:
      - "4040:4040"
    env_file:
      - ./api-gateway/.env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/usr/src/elber/api-gateway/creds/googleCred.json"
    volumes:
      - /home/ubuntu/creds/elber/googleCred.json:/usr/src/elber/api-gateway/creds/googleCred.json:ro
    depends_on:
      - ai
      - auth
      - notification
    expose:
      - "4040"
    restart: always
  ai:
    build: 
      context: .
      dockerfile: ai-services/Dockerfile 
    container_name: ai
    ports:
      - "4042:4042"
    env_file:
      - ./ai-services/.env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/usr/src/elber/ai-services/creds/googleCred.json"
    volumes:
      - /home/ubuntu/creds/elber/googleCred.json:/usr/src/elber/ai-services/creds/googleCred.json:ro
    expose:
      - "4042"
    restart: always
  auth:
    build: 
      context: .
      dockerfile: auth-services/Dockerfile 
    container_name: auth
    env_file:
      - ./auth-services/.env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/usr/src/elber/auth-services/creds/googleCred.json"
    volumes:
      - /home/ubuntu/creds/elber/googleCred.json:/usr/src/elber/auth-services/creds/googleCred.json:ro
    expose:
      - "4041"
    restart: always
  notification:
    build: 
      context: .
      dockerfile: notification-services/Dockerfile 
    container_name: notification
    env_file:
      - ./notification-services/.env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/usr/src/elber/notification-services/creds/googleCred.json"
    volumes:
      - /home/ubuntu/creds/elber/googleCred.json:/usr/src/elber/notification-services/creds/googleCred.json:ro
    expose:
      - "4041"
    restart: always
networks:
  default:
    driver: bridge
volumes:
  elber_pgdata:
