# SERVICE
AI_PORT=
GATEWAY_SECRET=

# GOOGLE
GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_DB=
SERPER_API_KEY=

# OPEN AI
OPENAI_API_KEY=

# POSTGRES
PG_DB=

# AMAZON
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# WEATHER
OPENWEATHER_API_KEY=
